body {
  background: #f9f9f9;
}

.panel-heading h3,
.panel-heading form {
  margin-bottom: 20px;
}

.panel-heading label {
  font-size: 16px;
  margin-right: 8px;
}

.fa-arrow-circle-right {
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#searchButton:hover > .fa-arrow-circle-right {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.columns {
  -webkit-column-count: 4;
  -webkit-column-gap: 15px;
  -webkit-column-fill: auto;
  -moz-column-count: 4;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 4;
  column-gap: 15px;
  column-fill: auto;
}

.movies {
  display: inline-block;
  background: #fefefe;
  border: 2px solid #fafafa;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 15px 15px 5px 15px;
/*  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;*/
}

.movies img {
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.movies h4 {
  padding-top: 10px;
  border-top: 1px solid #ccc;
  color: #000;
}

.movies:hover {
  opacity: .7;
  text-decoration: none;
  cursor: pointer;
}

.movies.ng-enter,
.noResults.ng-enter {
  animation: pulse 1s;
}